<li class="list-main__item" id="@@link">
  <span class="list-main__decor">
    <svg width="18" height="8" viewBox="0 0 18 8" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3.9996 0.000884904L17.4999 3.53559L3.9996 7.07195L0.464067 3.53642L3.9996 0.000884904Z" />
    </svg>
  </span>
  <a class="list-main__link" href="#">
    <h2 class="titles wow bounceInUp animate__animated animate__slideInLeft">@@title</h2>
    <p class="list-main__text">
      @@text
    </p>
    <p class="list-main__num">
      @@num
    </p>
    <img class="list-main__img" src="@@img" alt="" width="250">
  </a>
</li>